<div align="center">

# **University of Engineering And Technology Peshawar**

## *Jalozai Campus*

</div>

<div align="center">

---

# **COURSE TITLE**

## Introduction to AI Programming

---

</div>

<div style="
    max-width:700px;
    margin:40px auto;
    padding:25px 30px;
    border:2px solid #2c3e50;
    border-radius:12px;
    background:#ffffff;
    box-shadow:0 5px 12px rgba(0,0,0,0.15);
    font-family:'Times New Roman', serif;
">

<h3 style="color:#34495e; border-bottom:2px solid #bdc3c7; padding-bottom:6px;">
üìã Lab Information
</h3>

<ul style="list-style:none; padding-left:0;">
    <li><strong>Lab No.</strong>: <span style="color:#e74c3c; font-weight:bold;">6</span></li>
    <li><strong>Lab Title</strong>: <span style="color:#2980b9; font-weight:bold;">list and tuples</span></li>
</ul>

<hr style="border:none; border-top:2px dashed #ccc; margin:20px 0;">

<h3 style="color:#34495e; border-bottom:2px solid #bdc3c7; padding-bottom:6px;">
üôã‚Äç‚ôÇÔ∏è Submitted By
</h3>

<ul style="list-style:none; padding-left:0;">
    <li><strong>Name</strong>: <span style="color:#2980b9; font-weight:bold;">M. Sheth Mughal</span></li>
    <li><strong>Roll No.</strong>: <span style="color:#e74c3c; font-weight:bold;">24JZELE0558</span></li>
    <li><strong>Section</strong>: <span style="color:#16a085; font-weight:bold;">A</span></li>
</ul>

</div>

_________

# Lab Report Tasks:

__________

## Scenario:
You are designing a small student management system. You need to maintain student data for a class. Each student has a name, a roll number, and a list of grades. The system must allow grade updates but keep roll numbers fixed.

_____________

`1.	Create a list of student names: ["Ali", "Usman", "Hassan", "Kamran"].`

In [1]:
student_names= ["Ali", "Usman", "Hassan", "Kamran"]

_________

`2.	Create a tuple of student roll numbers: (101, 102, 103, 104).`

In [2]:
student_roll_numbers= (101, 102, 103, 104)

________________

`3.	For each student, create a list of grades (3 subjects) using nested lists:`
`Example: [ [85, 90, 78], [88, 92, 80], ... ]`

In [4]:
list_of_grades=[[85, 90, 78], [88, 92, 80],[90,91,92],[67,87,56]]

_______________

`4.	Update Ali‚Äôs second grade to 95.`

In [5]:
list_of_grades[0][1]=95

In [7]:
list_of_grades

[[85, 95, 78], [88, 92, 80], [90, 91, 92], [67, 87, 56]]

___________________

`5.	Add a new grade for Hassan in the fourth subject.`

In [10]:
list_of_grades[2].append(76)

In [11]:
list_of_grades

[[85, 95, 78], [88, 92, 80], [90, 91, 92, 76], [67, 87, 56], [2]]

_________________

`6.	Attempt to change Kamran‚Äôs roll number and observe what happens. Explain why.`

In [12]:
student_roll_numbers[3]=107

TypeError: 'tuple' object does not support item assignment

this give us an error. because the student rool numbers is a tuple and we does not change the touple. tuple is immutable.

_____________________

`7.	Print all students' names with their updated grades in a readable format.`

In [22]:
for S_N,S_G in zip(student_names,list_of_grades):
    print(F'Student Name: {S_N}, {S_N}  Grade is {S_G}')

Student Name: Ali, Ali  Grade is [85, 95, 78]
Student Name: Usman, Usman  Grade is [88, 92, 80]
Student Name: Hassan, Hassan  Grade is [90, 91, 92, 76]
Student Name: Kamran, Kamran  Grade is [67, 87, 56]

___________

_________________